@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-animation: color var(--hover-animation);
  --scale-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.modal__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin: 0px auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__btn:hover,
.modal__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  cursor: pointer;
  display: block;
  transform: scale(1.2);
  transition: box-shadow var(--hover-animation), background-color var(--hover-animation), transform var(--hover-animation);
}

.social-list {
  display: flex;
  align-content: center;
  margin-top: 16px;
  justify-content: space-between;
}

.social-list__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__item-link:hover,
.social-list__item-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  transform: scale(1.1);
  transition: transform var(--hover-animation), background-color var(--hover-animation), fill var(--hover-animation);
}

.footer .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__item-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--hover-animation), visibility var(--hover-animation);
}

.filters-list {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  height: 38px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  cursor: pointer;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo:hover {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.logo__set {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  color: #ffffff;
}

.footer__logo:focus, .footer__logo:hover {
  display: inline-block;
  transform: rotateX(360deg) scale(1.2);
  transition: transform 2s, scale 2s;
  perspective: 30px;
}

.address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__geo {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__geo:hover,
.address__geo:focus,
.address__tel:hover,
.address__tel:focus,
.address__mail:hover,
.address__mail:focus {
  color: var(--accent-color);
  display: inline-block;
  transform: translate(20%);
  transition: var(--scale-animation);
}

.address__tel,
.address__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  fill: #757575;
}

.contacts__link:hover,
.contacts__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.2);
  transition: var(--color-animation), transform var(--hover-animation);
}

.contacts__icon {
  margin-right: 10px;
}

.footer-submit__list {
  display: flex;
}

.footer-submit__input-mail {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

.footer-submit__button {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 12px;
}

.footer-submit__button-icon {
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
  left: 0;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-top: 34px;
}

.menu__item:not(:last-child) {
  margin-right: 51px;
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  overflow: hidden;
  color: var(--accent-color);
  transform: scale(1.2);
  transition: var(--color-animation), transition var(--hover-animation);
}

.current__link {
  color: var(--accent-color);
}

.menu__current::after {
  content: '';
  transform: translateY(1px);
  left: 0;
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  background-color: #303030;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/mobile/bg-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  min-width: 1200px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/mobile/bg-hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/tablet/bg-hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/tablet/bg-hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/desktop/bg-hero-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/images/hero-bg/desktop/bg-hero-desktop@2x.jpg");
  }
}

.hero__title {
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  align-items: center;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__tumb {
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.activities-title {
  margin-bottom: 50px;
}

.activities-list {
  display: flex;
  align-items: center;
  /* position: relative; */
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-item__tumb {
  position: relative;
}

.activities-list__label {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0px;
}

.team-section {
  background-color: #f5f4fa;
  min-width: 1200px;
}

.team-section-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item-caption {
  padding: 30px 32px;
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin-top: 30px; */
}

.team-item-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.footer {
  background-color: #2f303a;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}

.clients-box {
  padding-top: 12px;
  padding-bottom: 94px;
}

.clients-list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  /* padding: 16px 32px; */
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__item:hover,
.clients-list__item:focus {
  fill: var(--accent-color);
  outline: 1px solid var(--accent-color);
  transform: scale(1.2);
  transition: var(--scale-animation), fill var(--hover-animation), outline var(--hover-animation);
}

.clients-list__item-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list__item-link:hover .clients-list__logo,
.clients-list__item-link:focus .clients-list__logo {
  fill: var(--accent-color);
  transition: fill var(--hover-animation);
}

.clients-list__logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

.modal-form {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.modal-box__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px;
}

.modal-box__close-button:hover .modal-box__close-icon,
.modal-box__close-button:focus .modal-box__close-icon {
  fill: var(--accent-color);
  background-color: white;
  transform: scale(1.2);
  transition: var(--scale-animation);
}

.modal-box__close-icon {
  padding-top: 3px;
}

.modal-form__head {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  margin-top: 4px;
  /* remove browser outline in focus */
  outline: none;
  transition: border-color var(--hover-animation);
}

/* :placeholder-shown применяется свойство ф-ции при фокусе,когда плейсхолдер не показан если поле валидно и наоборот */
/* .modal-form__input:focus:not(:placeholder-shown):valid {
    border-color: #08e652;
  }
  .modal-form__input:focus:not(placeholder-shown):invalid {
    border-color: #e60808;
  } */
/* селектор первого соседнего эллемента " + " */
.modal-form__input:hover + .modal-form__input-icon,
.modal-form__input:focus + .modal-form__input-icon,
.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--hover-animation);
}

.city-field {
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
}

.modal-form__comment {
  margin-bottom: 0px;
}

.modal-form__comment-box {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__comment-box::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  position: relative;
  margin: 20px auto 30px;
  padding-left: 1.7em;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__input-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-right: -1.5em;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid #000;
  border-radius: 2px;
}

.modal-form__input-checkbox:checked + .checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("/images/social-icons/check.svg");
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.projects-item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--hover-animation);
}

.card-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--hover-animation);
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card-list__link:hover .overlay,
.card-list__link:focus .overlay {
  transform: translateY(0%);
}

.project-item-caption {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */