/* 
Включено в модерн нормалайз
*,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Standarts for projects */

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* li {
  display: block;
} */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.main-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-logo {
  margin-right: 93px;
}
.logo-set {
  color: var(--accent-color);
}
.menu {
  display: flex;
  /* align-items: center; */
  padding-top: 34px;
  /* padding-bottom: 34px; */
}
.menu-item:not(:last-child) {
  margin-right: 51px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.current-link {
  color: var(--accent-color);
}
.current-link::after {
  content: '';
  /* position: absolute; */
  left: 0;
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  cursor: default;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: #303030;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 600px;
  min-width: 1200px;
}
.hero-title {
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  display: block;
  /* min-width: 200px;
  min-height: 50px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin: 30px auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  cursor: pointer;
}

/* ADVANTAGES LIST */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  align-items: center;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__icon-tumb {
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.advantages-list__icon {
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ACTIVITIES-SECTION */

.activities {
}
.activities-title {
  margin-bottom: 50px;
}
.activities-list {
  display: flex;
  align-items: center;
  /* position: relative; */
}
.activities-item:not(:last-child) {
  margin-right: 30px;
}
.activities-item__tumb {
  position: relative;
}
.activities-list__label {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0px;
  padding-top: 27px;
}

/* TEAM-SECTION */

.team-section {
  background-color: #f5f4fa;
  min-width: 1200px;
}
.team-section-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item-caption {
  padding: 30px 32px;
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin-top: 30px; */
}
.team-item-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.social-list {
  display: flex;
  align-content: center;
  margin-top: 16px;
  justify-content: space-between;
}
.social-list__item {
}
.social-list__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}
.social-list__icon {
  width: 20px;
  height: 20px;
}
.social-list__item-link:hover,
.social-list__item-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* -------CLIENTS -----------*/

.clients-box {
  padding-top: 12px;
  padding-bottom: 94px;
}
.clients-title {
}

.clients-list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients-list__item {
  width: 170px;
  height: 92px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  /* padding: 16px 32px; */
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}
.clients-list__item:hover,
.clients-list__item:focus {
  fill: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.clients-list__item-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-list__item-link:hover .clients-list__logo,
.clients-list__item-link:focus .clients-list__logo {
  fill: var(--accent-color);
}
.clients-list__logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-logo {
  color: #ffffff;
}
.footer-address {
  margin-top: 20px;
}
.footer-address-list {
}
.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-tel,
.footer-address-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
.footer-social-list__title,
.footer-submit__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__social-list {
  width: 206px;
}
.footer-social-list__item-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

/* PORTFOLIO */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-list {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}
.filters-item {
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  height: 38px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.projects-item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}
.projects-item:hover,
.projects-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-tumb {
}
.project-item-caption {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
