/* 
Включено в модерн нормалайз
*,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --accent-color: #2196f3;
}

/* Standarts for projects */

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* li {
  display: block;
} */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.main-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-logo {
  margin-right: 93px;
}
.logo-set {
  color: var(--accent-color);
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
}
.menu-item:not(:last-child) {
  margin-right: 51px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: #2f303a;
  height: 600px;
  min-width: 1200px;
}
.hero-title {
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  display: block;
  /* min-width: 200px;
  min-height: 50px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin: 30px auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  cursor: pointer;
}

/* ADVANTAGES LIST */

.advantages {
  padding-top: 137px;
}
.advantages-list {
  display: flex;
  align-items: center;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ACTIVITIES-SECTION */

.activities {
}
.activities-title {
  margin-bottom: 50px;
}
.activities-list {
  display: flex;
  align-items: center;
}
.activities-item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM-SECTION */

.team-section {
  background-color: #f5f4fa;
  min-width: 1200px;
}
.team-section-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-caption {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin-top: 30px; */
}
.team-item-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: #ffffff;
}
.footer-address {
  margin-top: 20px;
}
.footer-address-list {
}
.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-tel,
.footer-address-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

/* PORTFOLIO */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-list {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}
.filters-item {
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  height: 38px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.projects-item:hover,
.projects-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-caption {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
