
.footer {
    background-color: #2f303a;
    min-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 16px;
  }