.hero {
    background-color: #303030;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/images/hero-bg/mobile/bg-hero-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // min-height: 400px;
    // max-width: 767px;
    height: 600px;
    min-width: 1200px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/images/hero-bg/mobile/bg-hero-mobile@2x.jpg');
  }
}
@media screen and (min-width: 768px){
.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/images/hero-bg/tablet/bg-hero-tablet.jpg');
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/images/hero-bg/tablet/bg-hero-tablet@2x.jpg');
}
}
@media screen and (min-width: 1200px){
  .hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/images/hero-bg/desktop/bg-hero-desktop.jpg');
  }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/images/hero-bg/desktop/bg-hero-desktop@2x.jpg');
  }
  }
  .hero__title {
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
  