
.address {
    margin-top: 20px;
  }
  .address__list {
  }
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__geo {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .address__geo:hover,
  .address__geo:focus {
    color: var(--accent-color);
    display: inline-block;
    transform: translate(20%);
    transition: var(--scale-animation);
  }
  .address__tel,
  .address__mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
  }
  .address__tel:hover,
  .address__tel:focus,
  .address__mail:hover,
  .address__mail:focus {
    transform: translate(20%);
  }